<html>
    <head>
        {% if title %}
        <title>{{ title }} - Labelling</title>
        {% else %}
        <title>Labelling</title>
        {% endif %}
    </head>
    <body style="font-family:'Helvetica';">
        <div>
            Labelling: 
            <a href="{{ url_for('label') }}">Labelling</a>
            <a href="{{ url_for('about_me') }}">About me</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <u1>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </u1>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
