{% extends "base.html" %}
{% block content %}
    <h1>Data exploration</h1>
    <p><b>Date of the post:</b> {{ date }}</p>
    <p><b>Author:</b> {{ author }}</p>
    <p><b>Subreddit:</b> {{ subreddit }}</p>
    <p><b>Post:</b></p>
    {{ post|safe }}
    <hr>
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            
            {{ form.gender.label }}
            {{ form.gender() }}
            {% for error in form.gender.errors %}
            <span style="color: red;">[Please select an option for the gender]</span><br>
            {% endfor %}
            
            {{ form.employment.label }}
            {{ form.employment() }}
            {% for error in form.employment.errors %}
            <span style="color: red;">[Please select an option for the employment]</span><br>
            {% endfor %}
            <br>
            {{ form.age.label }}<br>
            {{ form.age() }}<br>
            {% for error in form.age.errors %}
            <span style="color: red;">[Please input a valid age]</span><br>
            {% endfor %}
            <br>
            
            {{ form.student.label }}
            {{ form.student() }}
            {% for error in form.student.errors %}
            <span style="color: red;">[Please select an option for the student status]</span><br>
            {% endfor %}
            
            {{ form.immigrant.label }}
            {{ form.immigrant() }}
            {% for error in form.immigrant.errors %}
            <span style="color: red;">[Please select an option for the immigration status]</span><br>
            {% endfor %}
            
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
