{% extends "base.html" %}
{% block content %}
    <h1>Data exploration</h1>
    <p><b>Date of the post:</b> {{ date }}</p>
    <p><b>Post ID:</b> {{ index}}</p>
    <p><b>Author:</b> {{ author }}</p>
    <p><b>Subreddit:</b> {{ subreddit }}</p>
    <h2>Post:</h2>
    <p><b>Note: the highlights are there just to help you notice some information more easily.</b></p>
    {{ post|safe }}
    <hr>
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            
            <b>{{ form.gender.label }}</b>
             {% for subfield in form.gender %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.gender.errors %}
            <span style="color: red;">[Please select an option for the gender]</span>
            {% endfor %}
            <br>
            
            
            <b>{{ form.employment.label }}</b>
             {% for subfield in form.employment %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.employment.errors %}
            <span style="color: red;">[Please select an option for the employment]</span>
            {% endfor %}
            <br>
            
            <b>{{ form.age.label }}</b>{{ form.age() }}
            {% for error in form.age.errors %}
            <span style="color: red;">[Please input a valid age]</span>
            {% endfor %}
            <br>
            
            
            <b>{{ form.student.label }}</b>
             {% for subfield in form.student %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.student.errors %}
            <span style="color: red;">[Please select an option for the student status]</span>
            {% endfor %}
            <br>
            
            <b>{{ form.immigrant.label }}</b>
             {% for subfield in form.immigrant %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.immigrant.errors %}
            <span style="color: red;">[Please select an option for the immigration status]</span>
            {% endfor %}
            <br>
            
            <b>{{ form.relationship.label }}</b>
             {% for subfield in form.relationship %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.relationship.errors %}
            <span style="color: red;">[Please select an option for the relationship status]</span>
            {% endfor %}
            <br>
            
            <span style="color: red;font-weight:bold">(Fill this only if you are a professional)</span> <b>{{ form.psychology.label }}</b> {{ form.psychology() }}
            {% for error in form.psychology.errors %}
            <span style="color: red;">[Please input a psychological status]</span>
            {% endfor %}
            <br>
            
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}
